footer{
  position: fixed;
}
.nav-box{
  position: fixed;
  height: 10vh;
  width: 100%;
  background-color: #FFECB2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container{
  width: 100%;
}

.nav{
  display: flex;
  justify-content: center;
  align-items: center;
}


.material-symbols-outlined {
  font-size: 30px; 
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

ul.nav li:nth-child(3) .material-symbols-outlined {
  font-size: 43px;
}

ul.nav li:nth-child(1) { margin-left: 3.7rem; }
ul.nav li:nth-child(2) { margin-left: 3rem; }
ul.nav li:nth-child(3) { margin: 2.6rem; }
ul.nav li:nth-child(4) { margin-right: 3rem; }
ul.nav li:nth-child(5) { margin-right: 3.7rem; }
