html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
ul,li{
  display: block;
  list-style: none;
}
a{
  text-decoration: none;
  color: #000;
}



/* 画面 */
html{
  background-color: #F9C045;
}
.top{
  text-align: center;
}
a{
  
  display: block;
  width: 100vw;
  height: 100vh; 
  padding-top: 40%;
}