html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
ul,li{
  list-style: none;
}

#map {
  height: 90vh;
  width: 100%;
  position: relative;
}






footer{
  border: 1px solid black;
}



.nav-box{
  position: fixed;
  height: 10vh;
  width: 100%;
  background-color: #FFECB2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container{
  width: 100%;
}
.nav{
  /* border:  3px solid tomato; */
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.nav li:nth-child(1) { margin-left: 3.7rem; }  
ul.nav li:nth-child(2) { margin-left: 3rem; }    
ul.nav li:nth-child(3) { margin: 2.6rem; }       
ul.nav li:nth-child(4) { margin-right: 3rem; }   
ul.nav li:nth-child(5) { margin-right: 3.7rem; }  







/* ----- InfoBox（下の説明ボックス） ----- */
#info-box {
  position: fixed;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 10px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  z-index: 1000; /* ←重要！地図より上に表示 */
}

/* ----- × ボタン ----- */
#info-box .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
