html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
ul,li{
  list-style: none;
}

#map {
  height: 90vh;
  width: 100%;
  position: relative;
}










/* ----- InfoBox（下の説明ボックス） ----- */
#info-box {
  position: fixed;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 10px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  z-index: 1000; /* ←重要！地図より上に表示 */
}

/* ----- × ボタン ----- */
#info-box .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}


.join-btn{
  display: block;
  background-color: #FFC300;
  border-radius: 12px;
  height: 29px;
  text-align: center;
}

.join-btn a{
  display: block;
}

